# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\PUCMM\OneDrive - Pontificia Universidad Católica Madre y Maestra\PUCMM\11TH-SEMESTRE-ENERO-2021\WebDevelopment\Practica1-ClienteHttp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
